

$primary: #288d85;
$secondary: #f38332;
$white: #ffffff;
$black: #575757;
$border-color:#3993eb;
$active-background:#e5f1fc;
$header-font:#1c4980;
$body-color:#f6f8fa;
$navbar-border:#d4dee5;
$dark-red:#d8400f;
$light-red:#fbebea;
$border:#e5ebef;
$green:#05C165;
$date-color:#8DA4BF;
$name-initials-one:#6548EE;
$name-initials-mid:#3079e1;
$name-initials-odd :#dc3d21;
$ligh-blue:#DDEDFF;
$border-fields:#DADCE0;
$button-color:#0073E6;
//$light-red:#FCE8EF;